body {
    background-color: #3E1818;
    font-family: sans-serif;
    margin: 0;
    padding: 0;
  }
  
  .login-container {
    background-color: #3E1818;
    color: white;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }

  .text-box {
    margin-bottom: 30px;
  }
  
  .login-container h1 {
    color: white;
    font-size: 32px;
    margin-bottom: 20px;
    text-align: center;
    align-items: center;
    justify-content: center;
  }
  
  .login-button {
    background-color: #954130;
    color: black;
    border: none;
    padding: 10px 20px;
    margin-right: 10px;
    cursor: pointer;
    font-size: 20px;
    align-items: center;
    justify-content: center;
  }

  .login-button:hover {
    background-color: white;
  }

  .logout-button {
    background-color: #954130;
    color: black;
    border: none;
    padding: 10px 20px;
    margin-right: 10px;
    cursor: pointer;
    font-size: 20px;
    align-items: center;
    justify-content: center;
  }
  
  .logout-button:hover {
    background-color: white;
  }