body {
  background-color: #3E1818;
}

body recipe {
  background-color: #3E1818;
  color: white;
  font-family: sans-serif;
  padding: 20px;
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

body recipe ul {
  list-style-type: none;
  margin-bottom: 0.1px;
  margin-top: 10px;
  padding: 1px;
}

body recipe li {
  margin-bottom: 50px;
  margin-top: 30px;
}

body recipe viewbutton {
  background-color: #954130;
  color: white;
  border: none;
  padding: 10px 20px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 10px;
  margin-left: 30px;
  cursor: pointer;
}

body recipe viewbutton:hover {
  background-color: #88352B;
}

body recipe button {
  background-color: #954130;
  color: white;
  border: none;
  padding: 10px 20px;
  margin-right: 10px;
  margin-left: 30px;
  margin-top: 20px;
  cursor: pointer;
}


body recipe button:hover {
  background-color: #88352B;
}

body recipe h1 {
  color: white;
}

body h2 {
  color: white;
  font-weight: bold;
  text-decoration: underline;
  margin-top: 80px;
  font-size: 32px;
}

body h3 {
  color: white;
  font-weight: bold;
  text-decoration: underline;
  margin-top: 20px;
  font-size: 32px;
}